Package: com.darwindev.kbsync
Name: KbsyncTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Rachel
Author: Rachel
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.rpetrich.rocketbootstrap (>= 1.0.2) | firmware (<< 7.0)
